#ex1Slider {
	display: block;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.modal-title, .modal-body {
	text-align: center;
}

.cup-size {
	margin-bottom: 0;
}

.special-options {
	display: none;
}
